body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

header {
    background-color: #333; 
    color: #fff;
    padding: 10px; 
    text-align: center; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

main {
    margin-top: 110px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
}

main p {
    font-size: 1.0em;
    margin: 20px 0;
}

form {
    margin: 0 auto; 
    width: 300px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"], 
form input[type="email"], 
form input[type="number"], 
form input[type="date"]  {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 100%; 
    padding: 10px; 
    background-color: #333; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555; 
}

main a.menu-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

main a.menu-link:hover {
    background-color: #555;
}

footer {
    background-color: #333; 
    color: #fff;
    padding: 10px; 
    text-align: center; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
    left: 0; 
    z-index: 1000; 
}

